# List Default Methods

In [55]:
lst=[15,49,56.78, 890, ["a",25,98], "sal", "A",37]

In [56]:
lst

[15, 49, 56.78, 890, ['a', 25, 98], 'sal', 'A', 37]

In [57]:
lst.append(58)

In [58]:
lst

[15, 49, 56.78, 890, ['a', 25, 98], 'sal', 'A', 37, 58]

In [59]:
lst.copy()

[15, 49, 56.78, 890, ['a', 25, 98], 'sal', 'A', 37, 58]

In [60]:
lst.count(890)#returns the no.of times element present in list

1

In [61]:
a1=(36,97)
lst.extend(a1)
print(lst)

[15, 49, 56.78, 890, ['a', 25, 98], 'sal', 'A', 37, 58, 36, 97]

In [62]:
lst.index(890)

3

In [63]:
lst.insert(3,21)
print(lst)

[15, 49, 56.78, 21, 890, ['a', 25, 98], 'sal', 'A', 37, 58, 36, 97]

In [64]:
lst.pop(3)

21

In [65]:
lst

[15, 49, 56.78, 890, ['a', 25, 98], 'sal', 'A', 37, 58, 36, 97]

In [66]:
lst.remove(890)

In [67]:
lst

[15, 49, 56.78, ['a', 25, 98], 'sal', 'A', 37, 58, 36, 97]

In [68]:
lst.reverse()

In [69]:
lst

[97, 36, 58, 37, 'A', 'sal', ['a', 25, 98], 56.78, 49, 15]

In [70]:
lst.clear()

In [71]:
lst

[]

## Dictionaries Default Methods

In [72]:
dict={"empid":"01","empname":"XYZ","empAge":"21"}
batch=[2020]
d1={"empmail":"xyz@gmail.com"}

In [73]:
dict

{'empid': '01', 'empname': 'XYZ', 'empAge': '21'}

In [74]:
dict.copy()

{'empid': '01', 'empname': 'XYZ', 'empAge': '21'}

In [75]:
data=dict.fromkeys(dict,batch)

In [76]:
data

{'empid': [2020], 'empname': [2020], 'empAge': [2020]}

In [77]:
dict.get("empname")

'XYZ'

In [78]:
dict.items()

dict_items([('empid', '01'), ('empname', 'XYZ'), ('empAge', '21')])

In [79]:
dict.keys()

dict_keys(['empid', 'empname', 'empAge'])

In [80]:
EmpAge=dict.setdefault("empAge")
print(EmpAge)

21

In [81]:
dict.pop("empAge")

'21'

In [82]:
dict.popitem()

('empname', 'XYZ')

In [83]:
dict.update(d1)
print(dict)

{'empid': '01', 'empmail': 'xyz@gmail.com'}

In [84]:
dict.values()

dict_values(['01', 'xyz@gmail.com'])

### Sets Deafault Methods

In [85]:
set={"abc",23,5,6,89,198,"sal"}
s2={1,2,3,4,5,6}
s3={5,6,89}

In [86]:
set

{198, 23, 5, 6, 89, 'abc', 'sal'}

In [87]:
set.add(1)
set

{1, 198, 23, 5, 6, 89, 'abc', 'sal'}

In [88]:
set.copy()

{1, 198, 23, 5, 6, 89, 'abc', 'sal'}

In [89]:
set.update([23,56])
set

{1, 198, 23, 5, 56, 6, 89, 'abc', 'sal'}

In [90]:
set.discard(198)
set

{1, 23, 5, 56, 6, 89, 'abc', 'sal'}

In [91]:
set.remove("abc")
set

{1, 23, 5, 56, 6, 89, 'sal'}

In [92]:
set.pop()
set

{23, 5, 56, 6, 89, 'sal'}

In [93]:
S1=set.union(s2)
print(S1)

{1, 2, 3, 4, 5, 6, 'sal', 23, 56, 89}

In [94]:
S2=set.difference(s2)
S2

{23, 56, 89, 'sal'}

In [95]:
S3=set.intersection(s2)
S3

{5, 6}

In [96]:
S4=set.symmetric_difference(s2)
S4

{1, 2, 23, 3, 4, 56, 89, 'sal'}

In [97]:
S5=set.isdisjoint(s3)
S5

False

In [98]:
S6=set.issuperset(s3)
S6

True

In [99]:
S7=set.issubset(s3)
S7

False

#### Tuples Default Methods

In [100]:
A=('sammy','josh','hari','rana',"hari")
A

('sammy', 'josh', 'hari', 'rana', 'hari')

In [101]:
C=A.count("hari")
C

2

In [102]:
A.index("josh")

1

In [103]:
B=(1,2,3,5,2,6,5,2)
B

(1, 2, 3, 5, 2, 6, 5, 2)

In [104]:
B1=B.count(2)
B1

3

In [105]:
B2=B.index(6)
B2

5

##### Strings Default methods

In [4]:
name=input("Enter name of employee:  ")

Enter name of employee:  Priya_Shinde

In [6]:
type(name)

str

In [8]:
name.capitalize()

'Priya_shinde'

In [9]:
name.casefold()

'priya_shinde'

In [10]:
x=len(name)
x

12

In [11]:
Center=name.center(15,'*')
Center

'**Priya_Shinde*'

In [12]:
default_utf=name.encode()
default_utf

b'Priya_Shinde'

In [14]:
Res=name.endswith("Shinde")
Res

True

In [17]:
Find=name.find('ri',5)
Find

-1

In [18]:
name.expandtabs()

'Priya_Shinde'

In [20]:
name.index('S')

6

In [21]:
name.isalnum()

False

In [22]:
name.isalpha()

False

In [23]:
name.isascii()

True

In [24]:
name.isdecimal()

False

In [25]:
name.isdigit()

False

In [26]:
name.isidentifier()

True

In [27]:
name.islower()

False

In [28]:
name.isnumeric()

False

In [32]:
name.isprintable()

True

In [35]:
name.lstrip("Pri")

'ya_Shinde'

In [36]:
name.rstrip("de")

'Priya_Shin'

In [40]:
N=name.replace("Priya","Asha")
N

'Asha_Shinde'